html{
    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 2px;
}
.contenedor{
    display: flex;
    margin: 5% 30%;
    padding: 5% 5%;
    flex-direction: column;
    background-color: green;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
#hora{
    font-size: 200%;
}
#fecha{
    font-size: 100%;
    margin: 0;
    letter-spacing: 10px;
}